<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Block</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Django Block</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
        {% if not user.is_authenticated %}
        <li>
            <a href="/users/login/">Login</a>
        </li>
        <li>
            <a href="/users/sign_up/">Sign up</a>
        </li>
        {% else %}
        <li>
            <a href="/users/logout/">Logout</a>
        </li>
        <li>
            <a href="/users/list/">Users</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
<br>
<br>
<br>
{% block content %}
{% endblock %}
</body>
</html>