<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Block</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <h4><a href="/">Django Team</a></h4>
    </div>
    <ul class="nav-links">
        {% if not user.is_authenticated %}
            <li>
                <a href="/users/login/">Login</a>
            </li>
        {% else %}
            <li>
                <a href="/users/logout">Logout</a>
            </li>
        {% endif %}
    </ul>
    <div class="stack">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<br>
<br>
<br>
{% block content %}
{% endblock %}
</body>
</html>
